<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="images.css">
</head>
<body bgcolor="#212529">

    <section class="mul">
      <a href="index.html"><img src="https://cdn-icons-png.flaticon.com/128/3388/3388701.png" class = "cross"></a>
    </section>

    <section class="container">
        <div>
            <img src="uday.jpg" alt="Uday">
        </div>
        <div>
        <h2>Uday Pratap Singh</h2>  

        <p>This two-toned entertainment unit will look great in any style of interiors thanks to the simple design and subtle colour combination. The open, floating shelves and glass shutter tall unit give plenty of space to showcase your collectables. There are also two deep drawers in a graceful grey shade to hide away remote controls and other items that you don't want to display. </p>
        </div>
    </section>

</body>
</html>